*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5;

    margin-inline: auto;
    max-width: 100%;
    display: block;
}
.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}
button {
    padding: 0.5rem;
    margin: 0 1rem;
    font-size: 2rem;
    align-content: center;
    justify-content: center;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}
span {
    font-size: 2rem;
    padding-top: 0.25rem;
}
